openapi: 3.0.3
info:
  title: 'SP Info API Documentation'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://app.spinfocom.net.in'
paths:
  '/api/profiles/{id}':
    put:
      summary: 'Update Profile'
      operationId: updateProfile
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Profile Management'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the user.'
                  example: nulla
                mobile:
                  type: string
                  description: 'The mobile number of the user.'
                  example: est
                pan:
                  type: string
                  description: 'The pan number of the user.'
                  example: blanditiis
                address_1:
                  type: string
                  description: 'The address_1 of the user.'
                  example: est
                address_2:
                  type: string
                  description: 'The address_1 of the user.'
                  example: quidem
                city:
                  type: string
                  description: 'The city of the user.'
                  example: itaque
                state:
                  type: string
                  description: 'The state of the user.'
                  example: odio
                pincode:
                  type: string
                  description: 'The pincode of the user.'
                  example: quis
                bank_name:
                  type: string
                  description: 'The bank name of the user.'
                  example: alias
                account_name:
                  type: string
                  description: 'The account name of the user.'
                  example: impedit
                account_no:
                  type: string
                  description: 'The account number of the user.'
                  example: eos
                ifsc:
                  type: string
                  description: 'The ifsc number of the user.'
                  example: atque
                business_name:
                  type: string
                  description: 'The business_name of the user.'
                  example: soluta
                gstin:
                  type: string
                  description: 'The gstin of the user.'
                  example: qui
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the profile.'
        example: eos
        required: true
        schema:
          type: string
  /api/register:
    post:
      summary: 'Register User'
      operationId: registerUser
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'User Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: yttarhvifrg
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: karolann46@example.org
                mobile:
                  type: string
                  description: 'Must match the regex /^\+(?:\d{1}.'
                  example: '+(:4'
                pan:
                  type: string
                  description: 'Must match the regex /^([a-zA-Z]){5}([0-9]){4}([a-zA-Z0-9]){1}?$/.'
                  example: bKEbO8507a
                password:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: 'VO[{`R0'
                password_confirmation:
                  type: string
                  description: ''
                  example: et
                parent_id:
                  type: string
                  description: ''
                  example: quod
                ref_id:
                  type: string
                  description: ''
                  example: iure
              required:
                - name
                - email
                - mobile
                - pan
                - password
                - password_confirmation
                - parent_id
                - ref_id
      security: []
  /api/login:
    post:
      summary: 'Login User'
      operationId: loginUser
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'User Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: jmedhurst@example.org
                password:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: 'sA,N?''"'
              required:
                - email
                - password
      security: []
  /api/logout:
    post:
      summary: 'Logout User'
      operationId: logoutUser
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'User Management'
      security: []
tags:
  -
    name: 'Profile Management'
    description: "\nAPI for Managing Profile data"
  -
    name: 'User Management'
    description: "\nAPI for Managing Users"
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'You can retrieve your token by visiting your dashboard and clicking <b>Generate API token</b>.'
security:
  -
    default: []
